body{
  background-color: brown;
}
.to-do-list
{
  display: flex;
justify-content: center; 
  align-items: center;
  text-align: center;
  margin: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
color: white;
border: none;
border-radius: 5px;
cursor:pointer;
transition: background-color 0.5s ease;
}
.add-button
{
  background-color: hsl(125 47% 54%);
}
.input[type="text"]
{
font-size: 1.6rem;
padding: 10px;
border: 2px, solid, hsla(0,0%, 50%, 00.5);
border-radius: 5px;
color: hsla(0,0%, 0%, 00.5);
}
.add-button:hover
{
  background-color: hsl(125 47% 64%);
}
.delete-button
{
  background-color: hsl(0, 93%, 51%);
}
.delete-button:hover
{
  background-color: hsl(0, 93%, 41%);
}
.moveup-button
{
  background-color: hsl(202, 47%, 54%);
}
.moveup-button:hover
{
  background-color: hsl(202, 47%, 64%);
}
.movedown-button
{
  background-color: hsl(202, 47%, 54%);
}
.movedown-button:hover
{
  background-color: hsl(202, 47%, 64%);
}
ol{
  padding: 0;
}
li
{
  font-size: 2rem;
font-weight: bold;
padding: 15px;
background-color: hsl(0,0%,97%);
margin-bottom: 10px;
border: 3px, solid, hsla(0,0%,85%, 0.75);
border-radius:5px;
display:flex;
align-items: center;
}
.text
{
  flex: 1;
}
.delete-button, .moveup-button, .movedown-button
{
padding: 8px 12px;
font-size: 1.4rem;
margin-left: 10px;
}